.header-center{
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--Green, #38CB89);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.close{
   
    right: 80px;
    position: absolute;
    cursor: pointer;
}

.discount {
  font-family:Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.shop{
  color: var(--Brand-color, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid black;
}