@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-center {
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--Green, #38CB89);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.close {
  right: 80px;
  position: absolute;
  cursor: pointer;
}

.discount {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.shop {
  color: var(--Brand-color, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.navbar-container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.conatiner-left-side {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.navigation-link {
  display: flex;
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 40px;
}
.navigation-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--neutral-07100, #141718);
}

.navbar-icons {
  display: flex;
  gap: 16px;
}
.navbar-icons .left-side {
  display: flex;
  gap: 16px;
}
.navbar-icons .right-side {
  display: flex;
  gap: 5px;
}

.number-ellipse {
  height: 20px;
  width: 20px;
}
.number-ellipse span {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: white;
  background-color: black;
}/*# sourceMappingURL=style.css.map */